*{
	margin: 0;
	padding: 0;
}
/*顶部导航样式*/
.navBox{
	width: 100%;
	height: 40px;
	background: #B2A68A;
}
.nav{
	width: 1200px;
	height: 40px;
	/*background: green;*/
	margin: 0px auto;
}
.nav_left{
	width: 650px;
	height: 40px;
	list-style: none;
	float: left;
	font-size: 12px;
	line-height: 40px;
}
.nav_left li{
	float: left;
	margin: 0px 5px;
}
.l_font{
	color: #e5e5e5;
}
.l_font a{
	display: inline-block;
	height: 40px;
}
.list{
	position: absolute;
    background-color: #f7ede3;
    width: 80px;
    text-align: center;
    z-index: 99999;
    line-height: 30px;
    display: none;
    margin-left: -18px;
	color: #834C46;
}
.l_font a:hover{
	color: white;
}
.l_font:hover .list{
	display: block;
}
.list p:hover{
	color: #B2A68A;
}
.ewm{
	display: inline-block;
	background: url(../img/cssimg.png) no-repeat left;
    background-position: -415px -10px;
    width: 115px;
    height: 120px;
    display: none;
    position: absolute;
    margin-left: -32px;
}
.l_font a{
	text-decoration: none;
	color: #DFD7B7;
}
.l_font:hover .ewm{
	display: block;
}
.cx{
	background: url(../img/cssimg.png) no-repeat left;
    background-position: -650px -760px;
    width: 115px;
    height: 120px;
    display: none;
    position: absolute;
    margin-left: -25px;
}
.l_font:hover .cx{
	display: block;
}
.nav_right{
	width: 220px;
	height: 40px;
	float: right;
	list-style: none;
	/*background: blue;*/
	font-size: 12px;
	line-height: 40px;
	color: #e5e5e5;
}
.nav_right li{
	float: left;
	margin: 0px 5px;
}
.shopping{
	width: 100px;
	height: 40px;
	background:#fb746e;
	float: right;
	padding: 0px 15px 0px 15px; 
	color: #e5e5e5;
}
.nav_bg{
	display: inline-block;
	float: left;
	width: 25px;
	height: 20px;
	background: url(../img/cssimg.png) no-repeat;
	background-position: -16px -3px;
	margin-top: 10px;
}
.shopping p{
	float: left;
	margin-left: 7px; 
}
.shoppingc{
	display: none;
    position: absolute;
    z-index: 4;
    background: #fff;
    padding: 30px 30px;
    border: 1px solid #eee;
    border-top: none;
    top: 40px;
   	width: 290px;
    margin-left: -236px;
}
.shopping_none{
	height: 60px;
    line-height: 60px;
    padding: 30px 0;
    border-bottom: 1px dashed #eee;
    overflow: hidden;
}
.shopping_none a{
	color: #e5e5e5;
    display: inline-block;
    text-decoration: none;
}
.shopping_none img{
	width: 60px;
    height: 60px;
    border: 1px solid #eee;
    line-height: 60px;
    vertical-align: middle;
}
.cartcenter{
	line-height: 60px;
    vertical-align: middle;
}
.cartcenter p{
	width: 140px;
    line-height: 18px;
    border: none;
    color: #333;
    font-weight: 200;
    overflow: hidden;
    height: 70px;
}
.cartcenter span{
	color: #bbb098;
}
.cartright{
	line-height: 60px;
    vertical-align: middle;
}
.cartright p{
	color: #333;
}
.cart-list-price{
	width: 290px;
}
.cart-list-price span{
	color: #585856;
}
.cart-list-price h3{
	color: #fb746e;
    line-height: 10px;
    font-size: 24px;
}
.cart-list-price h3 span{
	color: #585856;
    font-size: 12px;
    padding: 0 5px 0 5px;
}
.cart-list-pay{
	width: 290px;
}
.cart-list-pay a{
	display: inline-block;
	position: relative;
    z-index: 5;
    top: 0;
	float: right;
    margin-top: -30px;
    width: 120px;
    height: 40px;
    background: #fb746e;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
}
.cartcenter p:hover{
	color: #FB746E;
}
.cart-list-pay a:hover{
	background: #FF6700;
}
.shopping:hover .shoppingc {
	display: block;
}
.shopping:hover .nav_bg{
	background: url(../img/cssimg.png) no-repeat;
	background-position: -16px -30px;
}
.shopping:hover{
	background: white;
	color: #fb746e;
}
.lognBox{
	width: 1202px;
	height: 120px;
	/*background: green;*/
	margin: 0px auto;
}
.logn{
	width: 232px;
	height: 85px;
	float: left;
	margin-top: 20px;
}
.logn img{
	float: left;
}
.logn_navBox{
	width: 669px;
	height: 120px;
	/*background: gold;*/
	float: left;
	margin-left: 30px;
}
.logn_navBox li{
	list-style: none;
	float: left;
	padding: 0px 10px;
	line-height: 120px;
}
.logn_navBox a{
	text-decoration: none;
	color: #585856;
}
.outs{
	font-weight: 400px;
	font-size: 17px;
}
.logn_navBox a:hover{
	color: #FC7485;
}
form{
	width: 202px;
	height: 50px;
	/*background: green;*/
	float: right;
	margin-top: 35px;
}
.search{
    width: 120px;
    height: 48px;
    line-height: 50px;
    font-size: 14px;
    color: #999;
    padding: 0 15px;
    border: 1px solid #dcd6c0;
    outline: none;
    float: left;
}
.btn{
	width: 50px;
	height: 50px;
	border: 1px solid #dcd6c0;
	float: left;
	margin-left: -1px;
	outline: none;
	cursor: pointer;
	background: url(../img/cssimg.png) no-repeat center;
    background-position: -40px -108px;
}
.bannerfirst{
	width: 1200px;
	height: 20px;
	font-size: 0.75em;
	/*background: green;*/
	margin: 0px auto;
    padding: 15px 0;
}
.bannerfirst a{
	text-decoration: none;
	color: #585856;
}
.bannerfirst a:hover{
	color: #FB746E;
}
.bannerfirst span {
	margin-left: 10px;
	color: #585856;
}
.bannerbgBox{
	height: 799px;
	background: url(../img/pc_bg_01.jpg);
	background-position: 50% 0;
}
.bannerbgBox a{
	display: block;
	width: 1200px;
	margin: 0 auto;
}
.bannerbg1{
	height: 206px;
	background: url(../img/pc_bg_04.jpg);
	background-position: 50% 0;
}
.bannerbg1 a{
	display: block;
	width: 1200px;
	margin: 0 auto;
}
.bannerbg2{
	background: url(../img/pc_bg_05.jpg);
	background-position: 50% 0;
}
.bg_tp{
	display: block;
	width: 1200px;
	margin: 0px auto;
}
.bannerbg2-1{
	width: 1200px;
	margin: 0px auto;
}
.bannerbg2-1 a{
	margin-top: -5px;
	display: block;
	float: left;
}
.bannerbg3{
	background: url(../img/pc_bg_02.jpg);
	background-position: 50% 0;
}
.bannerbg3 a{
	display: block;
	width: 1200px;
	margin: -5px auto;
}
.bannerbg4{
	background: url(../img/pc_bg_03.jpg);
	background-position: 50% 0;
}
.bannerbg4 a{
	display: block;
	width: 1200px;
	margin: -5px auto;
}
.bannerbg5{
	height: 100%;
	background: url(../img/pc_bg_06.jpg);
	background-position: 50% 0;
}
.bannerbg5 a{
	display: block;
	width: 1200px;
	margin: -5px auto;
}
.bannerbg6{
	height: 100%;
	background: url(../img/pc_bg_07.jpg);
	background-position: 50% 0;
}
.bannerbg6-1{
	width: 1200px;
	margin: 0px auto;
}
.bannerbg6-1 a{
	margin-top: -5px;
	display: block;
	float: left;
}
.bannerbg7{
	background: url(../img/pc_bg_08.jpg);
	background-position: 50% 0;
}
.bannerbg7 a{
	display: block;
	width: 1200px;
	margin: -5px auto;
}
.bannerbg8{
	height: 100%;
	background: url(../img/pc_bg_09.jpg);
	background-position: 50% 0;
}
.bannerbg8-1{
	width: 1200px;
	margin: 0px auto;
	margin-top: -5px;
}
.bannerbg8-1 a{
	margin-top: -5px;
	display: block;
	float: left;
}
.bannerbg9{
	height: 100%;
	background: url(../img/pc_bg_06.jpg);
	background-position: 50% 0;
}
.bannerbg9 a{
	display: block;
	width: 1200px;
	margin: 0 auto;
}
.bannerbg10{
	height: 100%;
	background: url(../img/pc_bg_11.jpg);
	background-position: 50% 0;
}
.bannerbg10-1{
	width: 1200px;
	margin: 0px auto;
}
.bannerbg10-1 a{
	display: block;
	float: left;
}
.bannerbg11{
	height: 100%;
	background: url(../img/pc_bg_12.jpg);
	background-position: 50% 0;
}
.bannerbg11-1{
	width: 1200px;
	margin: 0px auto;
}
.bannerbg11-1 a{
	display: block;
	float: left;
}
.footBox{
	width: 100%;
	background: white;
}
.foot1{
	width: 1300px;
	height: 300px;
	/*background: pink;*/
	margin: 0 auto;
}
.foot1 ul{
	width: 1300px;
	height: 85px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #E0E0E0;
}
.foot1 a:hover{
	color: #fb746e;
}
.foot16{
	width: 215px;
	height: 25px;
	list-style: none;
	float: left;
	margin-left: 3px;
	text-align: center;
	margin-top: 30px;
	border-right: 1px solid #e0e0e0;
}
.foot16 a{
	display: block;
	line-height: 25px;
	float: left;
	height: 25px;
	color: #585856;
	text-decoration: none; 
}
.baoyou{
	background: url(../img/PCtopbot.png);
    background-position: -19px -120px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    float: left;
    margin-left: 50px;
}
.zengzhi{
	background: url(../img/PCtopbot.png);
    background-position: -62px -119px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    float: left;
    margin-left: 50px;
}
.zuanshi{
	background: url(../img/PCtopbot.png);
    background-position: -106px -116px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    float: left;
    margin-left: 50px;
}
.gia{
	background: url(../img/PCtopbot.png);
    background-position: -154px -120px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    float: left;
    margin-left: 50px;
}
.zhongsheng{
	background: url(../img/PCtopbot.png);
    background-position: -198px -120px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    float: left;
    margin-left: 50px;
}
.fendian{
	background: url(../img/PCtopbot.png);
    background-position: -240px -119px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    float: left;
    margin-left: 50px;
}
.aboutBox{
	margin-top: 60px;
	float: left;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.aboutBox dl{
	width: 170px;
	height: 135px;
	/*background: red;*/
	float: left;
	text-align: center;
	color: #585856;
}
.aboutBox dt{
	width: 100%;
	height: 20px;
	margin-bottom: 20px;
}
.aboutBox dl dd{
	width: 100%;
	height: 20px;
	list-style: none;
	margin: 13px 0px;
}
.aboutBox a{
	text-decoration: none;
	color: #585856;
}
.aboutBox a:hover{
	color: #fb746e;
}
.aboutBox_right{
	width: 250px;
	height: 140px;
	/*background: gold;*/
	float: left;
	margin-top: 45px;
	border-left: 1px solid #E0E0E0;
	text-align: center;
}
.aboutBox_right h2{
	color: #fb746e;
	font-weight: normal;
	font-size: 1.25em;
	margin-bottom: 5px;
}
.aboutBox_right p{
	margin-bottom: 26px;
	line-height: 18px;
	font-size: 0.75em;
	color: #585856;
}
.zxzxbor {
    width: 150px;
    border: 1px #fb746e solid;
    height: 30px;
    line-height: 30px;
    margin-left: 52px;
}
.zxzxbor a{
	text-decoration: none;
	color: #585856;
}
.zxzxphone{
	background: url(../img/PCtopbot.png) no-repeat;
	background-position: -18px -167px;
	height: 25px;
	margin-top: 8px;
	padding-left: 25px;
	font-size: 12px;
}
.zxzxbor a:hover{
	color: #fb746e;
}
.body2{
	width: 100%;
	background: #FCFCFC;
}
.foot2{
	width: 1300px;
	height: 90px;
	margin: 0px auto;
	line-height: 20px;
	font-size: 0.75em;
	color: #585856;
	padding-top: 40px;
	padding-bottom: 10px;
}
.foot2_banquan{
	width: 780px;
	height: 96px;
	/*background: red;*/
	margin-left: 100px;
	float: left;
}
.foot2_banquan a{
	text-decoration: none;
	color: #585856;
}
.foot2_banquan a:hover{
	color: #fb746e;
}
.foot2_right{
	width: 300px;
	height: 90px;
	line-height: 20px;
	float: right;
	font-size: 12px;
	/*background: gold;*/
	float: right;
}
.foot2_photos a{
	display: inline-block;
	width: 85px;
	height: 80px;
	color: #585856;
	font-size: 12px;
	text-decoration: none;
	line-height: 18px;
	text-align: center;
	float: left;
	margin-left: 10px;
}
.zzgs{
	background: url(../img/PCtopbot.png) no-repeat;
	background-position: -193px -20px;
	width: 75px;
	height: 75px;
	margin-top: -18px;
	margin-bottom: 6px;
}
.xlwb{
	background: url(../img/PCtopbot.png) no-repeat;
	background-position: -18px -233px;
	width: 75px;
	height: 75px;
	margin-top: -18px;
	margin-bottom: 6px;
}
.gfwx{
	background: url(../img/PCtopbot.png) no-repeat;
	background-position: -126px -240px;
	width: 75px;
	height: 75px;
	margin-top: -18px;
	margin-bottom: 6px;
}
.linkBox{
	width: 1300px;
	height: 86px;
	margin: 0px auto;
	background: #F5F5F5;
}
.link{
	width: 1100px;
	height: 36px;
	padding: 25px 0px;
	margin: 0px auto;
}
.link h6{
	color: #b6b6b6;
	font-size: 10px;
	text-align: left;
	margin-right: 30px;
	display: inline-block;
	
}
.link a{
	color: #b6b6b6;
	text-decoration: none;
	font-size: 12px;
}
.link a:hover{
	color: #585856;
}
.side{
	position: fixed;
	width: 76px;
	right: 14px;
	bottom: 100px;
	z-index: 1002;
	/*background: red;*/
}
.side .kefu li{
	list-style: none;
}
.keful{
	background: url(../img/PCzixu.gif) no-repeat;
	background-position: -24px -81px;
	width: 75px;
	height: 87px;
	display: inline-block;
}
.kefuzong{
	margin-left: 8px;
	background-color: #f7ede3;
	width: 61px;
	margin-top: -25px;
}
.kefuzong li{
	list-style: none;
}
.sidebox{
	width: 61px;
	height: 54px;
	margin: 10px 0;
	padding: 3px 0;
	float: right;
	color: #702f28;
	cursor: pointer;
	position: relative;
}
.newkefuqq{
	background: url(../img/PCzixu.gif) no-repeat;
	background-position: -32px -183px;
	width: 75px;
	height: 87px;
	display: inline-block;	
}
.textkefuqq{
	position: absolute;
	z-index: 10;
	padding: 8px 15px;
	margin-left: -100px;
	top: -10px;
	overflow: hidden;
	display: none;
	color: #702f28;
	background-color: #f7ede3;
}
.textkefuqq a{
	display: block;
	text-decoration: none;
	color: #702f28;
}
.sidebox:hover .textkefuqq{
	display: block;
}
.newkefugwc{
	background: url(../img/PCzixu.gif) no-repeat;
	background-position: -32px -250px;
	width: 75px;
	height: 87px;
	display: inline-block;
}
.textkefugwc{
	background-color: #f7ede3;
	line-height: 40px;
	position: absolute;
	z-index: 100;
	padding: 10px 15px;
	margin-left: -65px;
	overflow: hidden;
	top: -5px;
	display: none;
}
.textkefugwc a{
	display: block;
	text-decoration: none;
	color: #702f28;
}
.sidebox:hover .textkefugwc{
	display: block;
}
/*侧边导航栏二维码样式*/
.newkefuewm{
	background: url(../img/PCzixu.gif) no-repeat;
	background-position: -32px -318px;;
	width: 75px;
	height: 87px;
	display: inline-block;
}
.ewm{
	position: absolute;
	z-index: 100;
	margin-left: -140px;
	top: -10px;
	overflow: hidden;
	display: none;
	background: url(../img/PCzixu.gif) no-repeat;
	background-position: -153px -78px;
	width: 130px;
	height: 172px;
}
.sideTop{
	width: 61px;
	height: 54px;
	line-height: 54px;
	display: inline-block;
	background: #f7ede3;
	transition: all 0.3s;
	background: url(../img/PCzixu.gif) no-repeat;
	background-position: -32px -385px;
}
