*{
	margin: 0;
	padding: 0;
}
/*顶部导航样式*/
.navBox{
	width: 100%;
	height: 40px;
	background: #B2A68A;
}
.nav{
	width: 1200px;
	height: 40px;
	/*background: green;*/
	margin: 0px auto;
}
.nav_left{
	/*width: 650px;*/
	height: 40px;
	list-style: none;
	float: left;
	font-size: 12px;
	line-height: 40px;
}
.nav_left li{
	float: left;
	margin: 0px 5px;
}
.l_font{
	color: #e5e5e5;
}
.l_font a{
	display: inline-block;
	height: 40px;
}
.list{
	position: absolute;
    background-color: #f7ede3;
    width: 80px;
    text-align: center;
    z-index: 99999;
    line-height: 30px;
    display: none;
    margin-left: -18px;
	color: #834C46;
}
.l1{
	margin-left: 0px;
	background: #fff;
}
.l_font a:hover{
	color: white;
}
.l_font:hover .list{
	display: block;
}
.list p:hover{
	color: #B2A68A;
}
.ewm{
	display: inline-block;
	background: url(../img/cssimg.png) no-repeat left;
    background-position: -415px -10px;
    width: 115px;
    height: 120px;
    display: none;
    position: absolute;
    margin-left: -32px;
}
.l_font a{
	text-decoration: none;
	color: #DFD7B7;
}
.l_font:hover .ewm{
	display: block;
}
.cx{
	background: url(../img/cssimg.png) no-repeat left;
    background-position: -650px -760px;
    width: 115px;
    height: 120px;
    display: none;
    position: absolute;
    margin-left: -25px;
}
.l_font:hover .cx{
	display: block;
}
.nav_right{
	/*width: 220px;*/
	height: 40px;
	float: right;
	list-style: none;
	/*background: blue;*/
	font-size: 12px;
	line-height: 40px;
	color: #e5e5e5;
}
.nav_right li{
	float: left;
	margin: 0px 5px;
}
.shopping{
	width: 100px;
	height: 40px;
	background:#fb746e;
	float: right;
	padding: 0px 15px 0px 15px; 
	color: #e5e5e5;
}
.nav_bg{
	display: inline-block;
	float: left;
	width: 25px;
	height: 20px;
	background: url(../img/cssimg.png) no-repeat;
	background-position: -16px -3px;
	margin-top: 10px;
}
.shopping p{
	float: left;
	margin-left: 7px; 
}
.shoppingc{
	display: none;
    position: absolute;
    z-index: 4;
    background: #fff;
    padding: 30px 30px;
    border: 1px solid #eee;
    border-top: none;
    top: 40px;
   	width: 290px;
    margin-left: -236px;
}
.shopping_none{
	height: 60px;
    line-height: 60px;
    padding: 30px 0;
    border-bottom: 1px dashed #eee;
    overflow: hidden;
}
.shopping_none a{
	color: #e5e5e5;
    display: inline-block;
    text-decoration: none;
}
.shopping_none img{
	width: 60px;
    height: 60px;
    border: 1px solid #eee;
    line-height: 60px;
    vertical-align: middle;
}
.cartcenter{
	line-height: 60px;
    vertical-align: middle;
}
.cartcenter p{
	width: 140px;
    line-height: 18px;
    border: none;
    color: #333;
    font-weight: 200;
    overflow: hidden;
    height: 70px;
}
.cartcenter span{
	color: #bbb098;
}
.cartright{
	line-height: 60px;
    vertical-align: middle;
}
.cartright p{
	color: #333;
}
.cart-list-price{
	width: 290px;
}
.cart-list-price span{
	color: #585856;
}
.cart-list-price h3{
	color: #fb746e;
    line-height: 10px;
    font-size: 24px;
}
.cart-list-price h3 span{
	color: #585856;
    font-size: 12px;
    padding: 0 5px 0 5px;
}
.cart-list-pay{
	width: 290px;
}
.cart-list-pay a{
	display: inline-block;
	position: relative;
    z-index: 5;
    top: 0;
	float: right;
    margin-top: -30px;
    width: 120px;
    height: 40px;
    background: #fb746e;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
}
.cartcenter p:hover{
	color: #FB746E;
}
.cart-list-pay a:hover{
	background: #FF6700;
}
.shopping:hover .shoppingc {
	display: block;
}
.shopping:hover .nav_bg{
	background: url(../img/cssimg.png) no-repeat;
	background-position: -16px -30px;
}
.shopping:hover{
	background: white;
	color: #fb746e;
}
.lognBox{
	width: 1202px;
	height: 120px;
	/*background: green;*/
	margin: 0px auto;
}
.logn{
	width: 232px;
	height: 85px;
	float: left;
	margin-top: 20px;
}
.logn img{
	float: left;
}
.logn_navBox{
	width: 669px;
	height: 120px;
	/*background: gold;*/
	float: left;
	margin-left: 30px;
}
.logn_navBox li{
	list-style: none;
	float: left;
	padding: 0px 10px;
	line-height: 120px;
}
.logn_navBox a{
	text-decoration: none;
	color: #585856;
}
.outs{
	font-weight: 400px;
	font-size: 17px;
}
.logn_navBox a:hover{
	color: #FC7485;
}
.nav_list{
	width: 100%;
	z-index: 99999;
	background: white;
    position: absolute;
    left: 0;
    display: none;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.nav_list_center{
	width: 1226px;
	margin:0px auto;
}
.nav_list dl{
	width: 171px;
	float: left;
	margin-top: 20px;
	 margin-bottom: 20px;
}
.nav_list dl dt{
	width: 131px;
	height: 155px;
	border-right: 1px solid #f3f3f3;
    padding-right: 30px;
    float: left;
}
.nav_list img{
	width: 100px;
	height: 100px;
	margin-left: 30px;
	margin-top: 10px;
}
.nav_list dd{
    width: 100px;
    line-height: 24px !important;
    font-size: 14px;
    text-align: center;
    margin-left: 25px;
}
.outs:hover .nav_list{
	display: block;
}
.nav_list_c_price{
	color: #ff6700;
    font-weight: bold;
}
.money{
	color: #fb746e;
}
form{
	width: 202px;
	height: 50px;
	/*background: green;*/
	float: right;
	margin-top: 35px;
}
.search{
    width: 120px;
    height: 48px;
    line-height: 50px;
    font-size: 14px;
    color: #999;
    padding: 0 15px;
    border: 1px solid #dcd6c0;
    outline: none;
    float: left;
}
.btn{
	width: 50px;
	height: 50px;
	border: 1px solid #dcd6c0;
	float: left;
	margin-left: -1px;
	outline: none;
	cursor: pointer;
	background: url(../img/cssimg.png) no-repeat center;
    background-position: -40px -108px;
}
.body{
	width: 100%;
	background: #F5F5F5;
    overflow: hidden;
}
.bannerfirst{
	width: 1200px;
	height: 20px;
	font-size: 0.75em;
	/*background: green;*/
	margin: 0px auto;
    padding: 10px 0;
}
.bannerfirst a{
	text-decoration: none;
	color: #585856;
}
.bannerfirst a:hover{
	color: #FB746E;
}
.bannerfirst span {
	margin-left: 10px;
	color: #585856;
}
/*商品详情列表*/
.detailsBox{
	background-color: #fff;
	overflow: hidden;
	padding-bottom: 40px;
	/*background: green;*/
}
.detail{
	padding: 0 20px;
	width: 1200px;
	margin: 0 auto;
}
.detail_left{
	width: 600px;
	height: auto;
	float: left;
	margin-top: 30px;
}
/*放大镜*/
.detail_l_ph{
	width: 1000px;
	position: relative;
}
.left{
	width: 600px;
	height: 600px;
	position: relative;
	background-color: #454545;
	border: #eee solid 1px;
}
.detail_l_ph img{
	width: 100%;
	height: 100%;
}
.gray{
	display:block;
	width: 300px;
	height: 300px;
	position: absolute;
	background-color: #454545;
    opacity: 0.5;
    cursor: move;
    top: 0;
}
/*放大镜放大框*/
.xsk{
	width: 350px;
	height: 350px;
	border: 1px solid #ccc;
	position: absolute;
	overflow: hidden;
	right: 10px;
	top: 0;
	z-index: 10;
	background: pink;
}
.xsk img{
	width: 800px;
	height: 800px;
	position: absolute;
}
.mc{
	width: 600px;
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
/*视频展示样式*/
.sp{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: transparent;
}
.detail_xslb{
	margin: 8px 0;
	list-style: none;
	z-index: 10;
	overflow: hidden;
}
.detail_xslb li{
	margin-right: 7px;
	width: 90px;
	height: 90px;
	float: left;
	cursor: pointer;
	border: 1px solid #eee;
	text-align: center;
}
.detail_xslb li img{
	width: 100%;
	height: 100%;
}
.detail_logn span{
	float: left;
    margin-right: 10px;
    padding: 2px 0 3px 0;
}
.detail_logn a{
	text-decoration: none;
	color: #585856;
}
.fx{
	margin-left: 20px;
}
.fx_more{
	color: #333;
	float: left;
	font-size: 12px;
	padding-left: 17px;
	line-height: 16px;
	height: 16px;
	background-image: url(../img/icons_0_16.png);
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 6px 6px 6px 0;
}
.fx_qqkj{
	float: left;
	font-size: 12px;
	padding-left: 17px;
	line-height: 16px;
	height: 16px;
	background-image: url(../img/icons_0_16.png);
	background-position: 0 -52px;
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 6px 6px 6px 0;
}

.fx_xl{
	float: left;
	font-size: 12px;
	padding-left: 17px;
	line-height: 16px;
	height: 16px;
	background-image: url(../img/icons_0_16.png);
	background-position: 0 -104px;
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 6px 6px 6px 0;
}
.fx_txwb{
	float: left;
	font-size: 12px;
	padding-left: 17px;
	line-height: 16px;
	height: 16px;
	background-image: url(../img/icons_0_16.png);
	background-position: 0 -260px;
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 6px 6px 6px 0;
}
.fx_rrw{
	float: left;
	font-size: 12px;
	padding-left: 17px;
	line-height: 16px;
	height: 16px;
	background-image: url(../img/icons_0_16.png);
	background-position: 0 -208px;
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 6px 6px 6px 0;
}
.fx_wx{
	float: left;
	font-size: 12px;
	padding-left: 17px;
	line-height: 16px;
	height: 16px;
	background-image: url(../img/icons_0_16.png);
	background-position: 0 -1612px;
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 6px 6px 6px 0;
}
.detail_right{
	width: 560px;
	margin-top: 30px;
	color: #333;
	float: right;
	/*background: gold;*/
}
.detail_right dl{
	width: 100%;
}
.detail_right dl td{
	font-size: 20px;
	font-weight: bold;
}
.detail_right dd{
	font-size: 14px;
	padding: 12px 0;
    padding-left: 0px;
}
.c1{
	color: #999;
	margin-top: -6px;
}
.detail_active{
	background-color: #f9f9f9;
	float: left;
	width: 550px;
}
.lq{
	width: 80px;
	float: left;
}
.xlk{
	background: url(../img/cssimg.png) no-repeat;
	background-position: -418px -192px;
	width: 18px;
	height: 18px;
	position: absolute;
	cursor: pointer;
	z-index: 0;
}
.hongbao{
	position: relative;
	height: 16px;
	padding-left: 2px;
	line-height: 16px;
	text-align: center;
	border-top: 1px solid #df3033;
	border-bottom: 1px solid #df3033;
	background: #FDB3AF;
	font-size: 14px;
	margin-right: 13px;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 5px;
}
.hongbao s{
	position: absolute;
	display: block;
	height: 18px;
	width: 2px;
	left: 0;
	overflow: hidden;
	background: url(../img/cssimg.png) no-repeat;
	background-position: -364px -243px !important;
}
.hongbao b{
	position: absolute;
	display: block;
	height: 18px;
	width: 2px;
	right: -1px;
	overflow: hidden;
	background: url(../img/cssimg.png) no-repeat;
	background-position: -364px -243px !important;
}
.gwhb{
	color: #f00;
	padding: 0 10px;
	font-size: 12px;
}
.vip1{
	color: red;
}
.vip2{
	font-size: 30px;
	margin-right: 50px;
	color: red;
}
.line1{
	padding: 0 45px;
	color: #eee;
}
.kjin{
	border: 1px solid #fb746e;
	position: relative;
	text-decoration: none;
	color: #585856;
	padding: 8px;
	font-size: 14px;
}
.cz a i{
	background: url(../img/cssimg.png) no-repeat;
	background-position: -108px -125px;
	width: 16px;
	height: 15px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.zf{
	margin-top: 20px;
}
.zf1{
	height: 40px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}
.zf1 a{
	border: 1px solid #eee;
	background-color: #fb746e;
	color: #fff;
	padding: 8px;
	font-size: 14px;
	text-decoration: none;
}
.kd{
	margin-top: 30px;
	border-top: 1px solid #eee;
}
.kd_font{
	display: inline-block;
	width: 120px;
}
.tjgw{
	margin-top: 40px;
}
.tjgw1{
	float: left;
	margin-right: 20px;
	list-style: none;
}
.tjgw1_gwc{
	color: #fff;
	background: #fb746e;
	padding: 20px 50px;
	text-decoration: none;
	border-radius: 2px;
}
.tjgw1_gm{
	color: #fff;
	background: #fe9a69;
	padding: 20px 50px;
	text-decoration: none;
	border-radius: 2px;
}
.sczxBox{
	float: left;
	margin-right: 20px;
	margin-top: -14px;
	line-height: 24px;
	list-style: none;
}
.sc{
	text-decoration: none;
	color: #585856;
	margin-left: 38px;
}
.sc span{
	background: url(../img/cssimg.png) left no-repeat;
	background-position: -53px -158px;
	width: 16px;
	height: 16px;
	position: absolute;
	margin-top: 4px;
	margin-left: -20px;
}
.mqzx{
	text-decoration: none;
	color: #585856;
	margin-left: 38px;
}
.mqzx span{
	background: url(../img/cssimg.png) left no-repeat;
	background-position: -111px -158px;
	width: 16px;
	height: 16px;
	position: absolute;
	margin-top: 4px;
	margin-left: -20px;
}
.sczxBox a:hover{
	color: #FC7485;
}
.main{
	width: 1300px;
	margin: 0 auto;
	background: #F5F5F5;
	/*margin-top: 20px;*/
}
.detail_spcs{
	width: 100%;
	background: rgba(255,255,255,0.8);
	line-height: 5px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #dfdfdf;
	padding-top: 30px;
}
.detail_spcs ul{
	width: 790px;
	height: 45px;
	margin: 0 auto;
	color: #333;
	line-height: 15px;
}
.detail_spcs ul li{
	float: left;
	padding: 0px 30px;
	list-style: none;
	border-left: 1px solid #eee;
	/*background: green;*/
}
.detail_spcs ul li a{
	text-decoration: none;
	color: #585856;
	font-size: 18px;
}
.lgly{
	width: 1300px;
	background-color: #f7ede4;
	padding: 45px 0;
	margin: 0px auto;
}
.lgly_font{
	margin: 0 50px;
	color: #6f5427;
	font-size: 14px;
	line-height: 25px;
}
.detail_para{
	color: #585856;
}
.para_line{
	width: 480px;
	margin-top: 70px;
	height: 0px;
	border-top: 1px solid #e0e0e0;
}
.detail_para h2{
	margin: 0 auto;
	margin-top: -22px;
	color: #999;
	text-align: center;
	font-size: 30px;
}
.cs1{
	float: right;
	margin-top: -18px;
}
.para_center{
	width: 1200px;
	overflow: hidden;
	margin-top: 50px;
	padding: 20px 0px;
	background: #fff;
}
.para_c_ph{
	width: 240px;
	float: left;
}
.para_c_ph img{
	margin-left: 40px;
	width: 240px;
}
.para_fx{
	position: absolute;
	left: 20px;
	top: 0;
	display: none;
}
.para_fx_font{
	font-size: 12px;
	line-height: 26px;
}
.para_c_ph:hover .para_fx{
	display: block;
}
.para_fx:hover a{
	color: red;
}
.para_list{
	float: right;
	width: 900px;
	margin-left: 25px;
	margin-top: 30px;
	line-height: 42px;
	font-size: 14px;
	color: #585856;
	/*background: green;*/
}
.para_list li{
	width: 250px;
	padding: 0 25px;
	float: left;
	list-style: none;
}
.para_list li span{
	font-weight: bold;
	color: #6f5427;
}
.wucha{
	width: 50%;
	overflow: hidden;
	margin-left: 330px;
	top: -30px;
	color: #ccc;
}
.rxtj{
	padding: 15px 30px 10px 30px;
	margin-top: 20px;
}
.rxtj table{
	max-width: 1167px;
	width: 1167px;
	font-size: 14px;
	color: black;
}
.rxtj_list{
	color: black;
	height: 30px;
	line-height: 30px;
	background-color: #f9f9f9;
	width: 16.5%;
	float: left;
	text-align: center;
}
.rxtj_container a{
	color: #585856;
	text-decoration: none;
}
.detail_about{
	margin-top: 25px;
}
.detail_about p{
	text-align: center;
}
.detail_bottom{
	margin: 25px 0;
	border-top: 1px solid #DDD;
}
.detail_b_f{
	display: block;
	width: 640px;
	height: 60px;
	margin: 0 auto;
}
.detail_b_f li{
	float: left;
	height: 100%;
	line-height: 60px;
	text-align: center;
	color: #888;
	cursor: pointer;
	list-style: none;
	margin: 0px 40px;
}
.detail_b_f span{
	display: block;
	width: 10px;
	float: left;
	height: 100%;
	line-height: 60px;
	text-align: center;
	color: #888;
	cursor: pointer;
}
.pjBox{
	width: 65%;
	float: left;
}
.myd{
	height: 140px;
	background: #fff;
	padding: 40px 0 40px 60px;
	margin-top: 50px;
}
.my1{
	margin-right: 50px;
	float: left;
	text-align: center;
	color: #fb746e;
}
.my1 dt{
	font-size: 60px;
}
.bfh{
	font-size: 30px;
	margin-left: -20px;
}

.my2{
	margin-top: 20px;
	font-size: 14px;
}
.my2 dt{
	color: #999;
	margin-bottom: 10px;
}
.kfpj{
	font-size: 16px;
	color: #999;
}
.bottom_pj{
	width: 33%;
	float: right;
	margin-top: 25px;
}
.bottom_pj h3{
	font-size: 18px;
	color: #585856;
	text-align: center;
	margin: 25px 0;
}
.pj_right{
	padding: 30px 60px;
	background-color: #fff;
}
.pj_right ul{
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #eee;
}
.pj_right li{
	list-style: none;
}
.pl{
	color: #585856;
	font-size: 16px;
	margin-top: 10px;
}
.i5{
	color: #999;
	font-size: 14px;
	margin-top: 20px;
}
.i5 b{
	float: right;
	font-weight: 100;
}
.stpj{
	width: 65%;
	height: 100%;
}
.stpj h3{
	font-size: 18px;
	color: #585856;
	text-align: center;
	line-height: 100px;
}
.fontPh{
	background: #fff;
	padding: 40px 60px;
	overflow: hidden;
}
.fontPh dd{
	float: left;
}
.stpj_ph{
	width: 80px;
}
.stpj_ph img{
	width: 80px;
}
.stpj_font{
	width: 450px;
	height: 100%;
	margin-left: 20px;
	overflow: hidden;
}
.stpj_font p{
	width: 450px;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 26px;
	color: #585856;
	text-align: left;
}
.stpj_font p span{
	color: #999;
	font-size: 12px;
}
.stpj_font ul{
	width: 450px;
	overflow: hidden;
}
.stpj_font ul li{
	float: left;
	margin-right: 6px;
	list-style: none;
}
.stpj_font a{
	display: block;
	float: left;
	text-decoration: none;
	color: #333;
	padding: 5px 5px 5px 0;
}
.stpj_font a img{
	width: 70px;
	height: 70px;
}
.myd_organg{
	color: #ff6700;
	float: right;
	width: 100px;
	text-align: right;
}
.gdpjBox{
	margin: 25px 0;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #f4f4f4;
}
.gdpjBox a{
	font-size: 14px;
	display: block;
	background-color: #eee;
	margin-bottom: 30px;
	text-decoration: none;
	color: #585856;
}
/*底部样式*/
.footBox{
	width: 100%;
	background: white;
}
.foot1{
	width: 1200px;
	height: 300px;
	/*background: pink;*/
	margin: 0 auto;
}
.foot1 ul{
	width: 1200px;
	height: 85px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #E0E0E0;
	/*background: red;*/
}
.foot1 a:hover{
	color: #fb746e;
}
.foot16{
	width: 215px;
	height: 25px;
	list-style: none;
	float: left;
	margin-left: 3px;
	text-align: center;
	margin-top: 30px;
	border-right: 1px solid #e0e0e0;
}
.foot16 a{
	display: block;
	line-height: 25px;
	float: left;
	height: 25px;
	color: #585856;
	text-decoration: none; 
}
.baoyou{
	background: url(../img/PCtopbot.png);
    background-position: -19px -120px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    float: left;
    margin-left: 50px;
}
.zengzhi{
	background: url(../img/PCtopbot.png);
    background-position: -62px -119px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    float: left;
    margin-left: 50px;
}
.zuanshi{
	background: url(../img/PCtopbot.png);
    background-position: -106px -116px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    float: left;
    margin-left: 50px;
}
.gia{
	background: url(../img/PCtopbot.png);
    background-position: -154px -120px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    float: left;
    margin-left: 50px;
}
.zhongsheng{
	background: url(../img/PCtopbot.png);
    background-position: -198px -120px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    float: left;
    margin-left: 50px;
}
.fendian{
	background: url(../img/PCtopbot.png);
    background-position: -240px -119px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    float: left;
    margin-left: 50px;
}
.aboutBox{
	margin-top: 60px;
	float: left;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.aboutBox dl{
	width: 150px;
	height: 135px;
	float: left;
	text-align: center;
	color: #585856;
}
.aboutBox dt{
	width: 100%;
	height: 20px;
	margin-bottom: 20px;
}
.aboutBox dl dd{
	width: 100%;
	height: 20px;
	list-style: none;
	margin: 13px 0px;
}
.aboutBox a{
	text-decoration: none;
	color: #585856;
}
.aboutBox a:hover{
	color: #fb746e;
}
.aboutBox_right{
	width: 250px;
	height: 140px;
	/*background: gold;*/
	float: left;
	margin-top: 45px;
	border-left: 1px solid #E0E0E0;
	text-align: center;
}
.aboutBox_right h2{
	color: #fb746e;
	font-weight: normal;
	font-size: 1.25em;
	margin-bottom: 5px;
}
.aboutBox_right p{
	margin-bottom: 26px;
	line-height: 18px;
	font-size: 0.75em;
	color: #585856;
}
.zxzxbor {
    width: 150px;
    border: 1px #fb746e solid;
    height: 30px;
    line-height: 30px;
    margin-left: 52px;
}
.zxzxbor a{
	text-decoration: none;
	color: #585856;
}
.zxzxphone{
	background: url(../img/PCtopbot.png) no-repeat;
	background-position: -18px -167px;
	height: 25px;
	margin-top: 8px;
	padding-left: 25px;
	font-size: 12px;
}
.zxzxbor a:hover{
	color: #fb746e;
}

.foot2{
	width: 1200px;
	height: 90px;
	margin: 0px auto;
	line-height: 20px;
	font-size: 0.75em;
	color: #585856;
	padding-top: 40px;
	padding-bottom: 10px;
}
.foot2_banquan{
	width: 780px;
	height: 96px;
	/*background: red;*/
	margin-left: 100px;
	float: left;
}
.foot2_banquan a{
	text-decoration: none;
	color: #585856;
}
.foot2_banquan a:hover{
	color: #fb746e;
}
.foot2_right{
	width: 300px;
	height: 90px;
	line-height: 20px;
	float: right;
	font-size: 12px;
	/*background: gold;*/
	float: right;
}
.foot2_photos a{
	display: inline-block;
	width: 85px;
	height: 80px;
	color: #585856;
	font-size: 12px;
	text-decoration: none;
	line-height: 18px;
	text-align: center;
	float: left;
	margin-left: 10px;
}
.zzgs{
	background: url(../img/PCtopbot.png) no-repeat;
	background-position: -193px -20px;
	width: 75px;
	height: 75px;
	margin-top: -18px;
	margin-bottom: 6px;
}
.xlwb{
	background: url(../img/PCtopbot.png) no-repeat;
	background-position: -18px -233px;
	width: 75px;
	height: 75px;
	margin-top: -18px;
	margin-bottom: 6px;
}
.gfwx{
	background: url(../img/PCtopbot.png) no-repeat;
	background-position: -126px -240px;
	width: 75px;
	height: 75px;
	margin-top: -18px;
	margin-bottom: 6px;
}
.linkBox{
	width: 1200px;
	height: 86px;
	margin: 0px auto;
	background: #F5F5F5;
}
.link{
	width: 1100px;
	height: 36px;
	padding: 25px 0px;
	margin: 0px auto;
}
.link h6{
	color: #b6b6b6;
	font-size: 10px;
	text-align: left;
	margin-right: 30px;
	display: inline-block;
	
}
.link a{
	color: #b6b6b6;
	text-decoration: none;
	font-size: 12px;
}
.link a:hover{
	color: #585856;
}
.side{
	position: fixed;
	width: 76px;
	right: 14px;
	bottom: 100px;
	z-index: 1002;
	/*background: red;*/
}
.side .kefu li{
	list-style: none;
}
.keful{
	background: url(../img/PCzixu.gif) no-repeat;
	background-position: -24px -81px;
	width: 75px;
	height: 87px;
	display: inline-block;
}
.kefuzong{
	margin-left: 8px;
	background-color: #f7ede3;
	width: 61px;
	margin-top: -12px;
}
.kefuzong li{
	list-style: none;
}
.sidebox{
	width: 61px;
	height: 54px;
	margin: 10px 0;
	padding: 3px 0;
	float: right;
	color: #702f28;
	cursor: pointer;
	position: relative;
}
.newkefuqq{
	background: url(../img/PCzixu.gif) no-repeat;
	background-position: -32px -183px;
	width: 75px;
	height: 87px;
	display: inline-block;	
}
.textkefuqq{
	position: absolute;
	z-index: 10;
	padding: 8px 15px;
	margin-left: -95px;
	top: -10px;
	overflow: hidden;
	display: none;
	color: #702f28;
	background-color: #f7ede3;
}
.textkefuqq a{
	display: block;
	text-decoration: none;
	color: #702f28;
}
.sidebox:hover .textkefuqq{
	display: block;
}
.newkefugwc{
	background: url(../img/PCzixu.gif) no-repeat;
	background-position: -32px -250px;
	width: 75px;
	height: 87px;
	display: inline-block;
}
.textkefugwc{
	background-color: #f7ede3;
	line-height: 40px;
	position: absolute;
	z-index: 100;
	padding: 10px 15px;
	margin-left: -65px;
	overflow: hidden;
	top: -5px;
	display: none;
}
.textkefugwc a{
	display: block;
	text-decoration: none;
	color: #702f28;
}
.sidebox:hover .textkefugwc{
	display: block;
}
/*侧边导航栏二维码样式*/
.newkefuewm{
	background: url(../img/PCzixu.gif) no-repeat;
	background-position: -32px -318px;;
	width: 75px;
	height: 87px;
	display: inline-block;
}
.ewm{
	position: absolute;
	z-index: 100;
	margin-left: -140px;
	top: -10px;
	overflow: hidden;
	display: none;
	background: url(../img/PCzixu.gif) no-repeat;
	background-position: -153px -78px;
	width: 130px;
	height: 172px;
}
.sideTop{
	width: 61px;
	height: 54px;
	line-height: 54px;
	display: inline-block;
	background: #f7ede3;
	transition: all 0.3s;
	background: url(../img/PCzixu.gif) no-repeat;
	background-position: -32px -385px;
}